body{
    padding:20px;
}
title1{
    font-family:helvetica;
    font-size:34px;
    color:#ba5370;
}
subtitle{
    font-family:helvetica;
    font-size:12px;
    color:#F4E2D8;
}
li{
    padding-bottom:20px;
}
content{
    padding:15px;
    font-family:helvetica;
    font-size:20px;
    color:#ee9ca7;
}
